<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <title>Title</title>
</head>
<body>
    <strong>Username:</strong> <%= data.screenname %><br>
    <strong>Tweet:</strong> <%= data.body %><br>
    <strong>Date:</strong> <%= data.date %><br>
    <strong>Time:</strong> <%= data.time %><br>

    <% if(statuses.length > 0) { %>
        <table>
            <tr>
                <th>Date</th>
                <th>Tweet</th>
            </tr>
            <% statuses.forEach((tweet) => { %>
                <tr>
                    <td><%= tweet.created_at %></td>
                    <td><%= tweet.text %></td>
                </tr>
            <% }) %>
        </table>
    <% } %>
</body>
